.footer-name {
  /* border: 2px solid green; */
  margin-right: 6rem;
  grid-area: left-nav;
  font-family: "Bluu Next";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #40404c;
}

.dot-footer {
  font-family: "Bluu Next";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #da004a;
}

footer {
  border-top: 1px solid #ddd2ce;
  height: 27vh;
  padding: 0 1.5rem;
  display: grid;
  margin-left: 6.5rem;
  width: calc(100vw - 13rem);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left-footer right-footer";
  /* border: 2px solid; */
  display: flex;
  align-items: center;
}
.highlightText {
  color: #da004a;
  font-weight: bold;
  font-family: "Columbia-Serial";
}
