header {
  /* border: 5px solid green; */
  padding: 16rem 6.5rem 11rem 6.5rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left-header right-header";
}

.leftheader {
  /* border: 2px solid blue; */
  word-break: break-word;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-area: left-header;

  font-family: "Circe";
  font-style: normal;
  font-weight: 350;
  font-size: 38px;
  line-height: 58px;
}
.righheader {
  /* border: 2px solid green; */
  grid-area: right-header;
}
