* {
  box-sizing: border-box;
}

@font-face {
  font-family: "bluu-next";
  src: local("bluu"), url(./fonts/BluuNext-Titling.otf) format("otf");
}

@font-face {
  font-family: "columbia";
  src: local("columbia-serial-bold"),
    url(./fonts/columbia-serial-bold.ttf) format("ttf");
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #40404c;
  height: 84px;
  width: 100%;
  padding: 0 106px;
}

.name {
  font-family: "bluu-next";
  color: #40404c;
  font-size: "20px";
}

.works {
  /* border: 5px solid blue; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 11rem;
  grid-template-areas:
    "works-title works-title works-description works-description"
    "works-image works-image works-image works-image";
}

.works-list {
  /* border: 5px solid green; */
  padding: 0 6.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left-col right-col";
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
}

.left {
  grid-area: left-col;
}

.right {
  grid-area: right-col;
}

.title {
  grid-area: works-title;

  font-family: Columbia-Serial;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  color: #40404C;
}

.description {
  grid-area: works-description;

  font-family: Circe;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 27px;
  color: #40404C;
}

.image {
  grid-area: works-image;
}

.image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
